/* Styles/utils.css */

/* Aqui você pode definir variáveis CSS, se desejar */
/* Exemplo:
:root {
    --cor-primaria: #f39c12;
    --cor-texto-principal: #333;
    --espacamento-padrao: 15px;
    --breakpoint-tablet: 768px;
}
*/

/* E classes utilitárias, se precisar */
/* Exemplo:
.mt-1 { margin-top: 10px; }
.mb-2 { margin-bottom: 20px; }
.text-center { text-align: center; }
*/