/* Seção de sobre nós */
.about-us-section {
    width: 100%;
    padding: 40px 20px;
    background-color: #101010;
    color: #eee;
    text-align: center;
}

/* Padronização do título "SOBRE NÓS" */
.about-us-section h2.team-section-title {
    color: rgb(255, 255, 255); /* Cor branca para o texto */
    font-size: 3.5em; /* Tornando o texto bem grande */
    font-weight: bold; /* Deixando a fonte em negrito */
    text-align: center; /* Centralizando o texto */
    margin: 0px; /* Removendo margens padrão */
    margin-bottom: 30px; /* Adicionando margem inferior para espaçamento */
    padding: 5px; /* Adicionando um preenchimento ao redor do texto */
    letter-spacing: 5px; /* Aumentando o espaçamento entre as letras */
    text-transform: uppercase; /* Transformando o texto para maiúsculas */
}

.about-us-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
}

.about-us-description {
    flex: 1;
    text-align: left;
}

.about-us-description h3 {
    color: #f39c12; /* Cor do título "O QUE É O JUBA?" */
    font-size: 1.5em; /* Tamanho da fonte do título "O QUE É O JUBA?" (ajuste se necessário) */
    margin-top: 20px; /* Margem superior (ajuste se necessário) */
    margin-bottom: 10px; /* Margem inferior (ajuste se necessário) */
    text-transform: uppercase; /* Exemplo de outra propriedade comum */
}

.about-us-description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-us-carousel {
    width: 500px; /* Aumentando a largura do carrossel */
    height: 300px; /* Aumentando a altura do carrossel */
    overflow: hidden;
    position: relative;
    border: 5px solid #333; /* Adicionando uma borda como moldura */
    box-sizing: border-box; /* Inclui a borda na largura e altura */
}

.carousel-container-about-us {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide-about-us {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide-about-us.active {
    opacity: 1;
}

.carousel-slide-about-us img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Garante que a imagem caiba dentro sem cortar, mostrando as proporções */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .about-us-content {
        flex-direction: column; /* Empilha a descrição e o carrossel em telas menores */
        align-items: stretch; /* Estica os itens para a largura total */
    }

    .about-us-carousel {
        width: 100%; /* Ocupa a largura total em telas menores */
        height: auto; /* Ajusta a altura automaticamente */
    }
}