/* Reset básico para consistência entre navegadores */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
ul {
    list-style: none;
}

/* Estilos básicos para o body */   
body {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    overflow-x: hidden;
}