/* Estilos do Rodapé */
.main-footer {
    background-color: #101010;
    color: #eee;
    text-align: center;
    padding: 20px;
}

.footer-icons {
    margin-bottom: 15px;
}

.footer-icons a {
    display: inline-block;
    margin: 0 10px;
}

.footer-icons a img {
    width: 30px;
    height: auto;
    opacity: 0.8;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transição suave para as propriedades */
}

.footer-icons a:hover img {
    width: 45px; 
    height: auto;
    opacity: 1; /* Remove a transparência no hover */
}

.footer-copyright {
    font-size: 0.9em;
    margin-top: 10px;
}