/*
 * Estilos para o cabeçalho (header) do site.
 *
 * .main-header: Container principal do cabeçalho, utiliza flexbox para o layout.
 * .header-main-nav: Container da barra de navegação principal, alinhada à direita.
 * .header-main-nav ul: Lista não ordenada dos links de navegação.
 * .header-main-nav ul li: Item da lista de navegação.
 * .header-main-nav ul li a: Link de navegação.
 * .header-main-nav ul li a:hover: Estilo do link ao passar o mouse.
 * .header-logo-container: Container da logo, centralizada.
 * .header-logo: Estilo da imagem da logo.
 * .header-icons: Container dos ícones de redes sociais, alinhados à direita.
 * .header-icons a img: Estilo das imagens dos ícones de redes sociais.
 * @media (max-width: 768px): Estilos para telas menores (responsividade).
 */
 .main-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
/* Barra de Navegação Principal na Esquerda */
.header-main-nav {
    background-color: transparent;
    color: #000000;
    padding: 0;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.header-main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.header-main-nav ul li {
    margin-right: 20px;
}
.header-main-nav ul li:first-child {
    margin-left: 0;
}
.header-main-nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
}
.header-main-nav ul li a:hover {
    color: #f39c12;
}
/* Container da Logo (Centralizada) */
.header-logo-container {
    justify-content: center;
    width: 300px;
    margin-left: calc(5% - (100px / 1));
}
.header-logo {
    width: 150px;
    height: auto;
    justify-content: center;
}
/* Ícones de Redes Sociais (Direita) */
.header-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.header-icons a img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
/* Estilos Responsivos para o Header */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column; /* Empilha os itens verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente*/
    }

    .header-main-nav {
        margin-left: 0;
        justify-content: center; /* Centraliza a navegação*/
        width: 100%; /* Ocupa toda a largura */
        margin-top: 10px; 
    }

    .header-logo-container {
        margin: 20px 0; /* Adiciona margem vertical para separar a logo */
        width: 100%; /* Ocupa toda a largura para centralizar */
    }

    .header-icons {
        margin-right: 0; 
        justify-content: center; /* Centraliza os ícones em telas menores */
        width: 100%; 
        margin-bottom: 10px;
    }
}