/*
 * Estilos para o cabeçalho (header) do site.
 *
 * .main-header: Container principal do cabeçalho, utiliza flexbox para o layout.
 * .header-main-nav: Container da barra de navegação principal, alinhada à direita.
 * .header-main-nav ul: Lista não ordenada dos links de navegação.
 * .header-main-nav ul li: Item da lista de navegação.
 * .header-main-nav ul li a: Link de navegação.
 * .header-main-nav ul li a:hover: Estilo do link ao passar o mouse.
 * .header-logo-container: Container da logo, centralizada.
 * .header-logo: Estilo da imagem da logo.
 * .header-icons: Container dos ícones de redes sociais, alinhados à direita.
 * .header-icons a img: Estilo das imagens dos ícones de redes sociais.
 * @media (max-width: 768px): Estilos para telas menores (responsividade).
 */
 .main-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Barra de Navegação Principal */
.header-main-nav {
    background-color: transparent;
    color: #000000;
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centraliza os links da nav */
}

.header-main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-main-nav ul li {
    margin-right: 20px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header-main-nav ul li:first-child {
    margin-left: 0;
}

.header-main-nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 10px 0;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.header-main-nav ul li a:hover {
    color: #f39c12;
    font-size: 1.5em;
}

/* Container da Logo (Centralizada)*/
.header-logo-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Garante que o container ocupe a largura total */
    padding: 10px 0px 2px 0px;
}

.header-logo {
    width: 150px;
    height: auto;
}
/* Estilos Responsivos para o Header */
@media (max-width: 768px) {

    .header-main-nav {
        padding: 10px 0;
    }

    .header-logo-container {
        padding: 20px 0;
    }

    .header-main-nav ul li a {
        font-size: 1.1em;
    }

    .header-main-nav ul li a:hover {
        font-size: 1.3em;
    }
}